<h2 id="so-you-want-to-write-a-puzzle-yay">So you want to write a puzzle… (yay!)</h2>

<ol type="1">
<li>Come up with a puzzle idea
  <ul>
  <li>Keep a personal document of puzzle ideas and add to it whenever you think of something or see something that inspires you.</li>
  <li>Bounce ideas off others in #puzzle-ideas.</li>
  <li>Reach out to an editor, co-author, or another teammate.</li>
  <li>View a selection of answers with PuzzUp’s “Random answers” feature and see if one of them inspires you.</li>
  </ul>
</li>
<li>Create a PuzzUp entry for your idea
  <ul>
  <li>The entry can be created at various levels of refinement. You may have just the seed of an idea, a proof of concept, or even a rough draft. </li>
  <li>Under “Answer &amp; Round requests”, state what answer constraints your puzzle has and what round you’d prefer it to go in. Editors will do their best to honor these constraints and reach out to you if they can’t be satisfied.</li>
  </ul>
</li>
<li>Get assigned an editor and talk through the puzzle idea with them.</li>
<li>Refine your idea and work on proof of concepts based on editor feedback.
  <ul>
  <li>Your editor may comment on alternative extraction methods, the puzzle length/scale, and whether or not your puzzle overlaps in content with other puzzles in the hunt.</li>
  <li>For especially complicated puzzles (lots of constraints, tech work, etc.), you may want to prototype your idea first and solicit feedback from your editor to help determine feasibility.</li>
  </ul>
</li>
<li>Your editor assigns an answer and requests a draft of the puzzle.</li>
<li>Write the puzzle!
  <ul>
    <li>Once you reach this stage, try to provide a draft quickly (~within 2 weeks) so that you can get feedback early since you will likely iterate a lot on it.</li>
    <li>Your editor should work with you to do a “pre-testsolve” of your puzzle in this draft state. For example, they may try to solve specific crossword clues, help check uniqueness in logic puzzles, and test out any tech prototypes.</li>
    <li>By the time your puzzle is ready for testsolving, it should be in a solvable state. Testsolves are to help evaluate whether or not the fun and difficulty in your puzzle arises from where you expect them to.</li>
  </ul>
</li>
<li>Testsolve your puzzle! See <a href="/process/testsolving">testsolving</a> for more information.</li>
<li>Repeat steps 4 through 7 until you have at least 2 clean testsolves.
  <ul>
    <li>A clean testsolve is one where testsolvers that were unspoiled prior to starting the puzzle complete it without hints.</li>
    <li>Revise your puzzles based on what you see happen within 3 days of the testsolve ending (discussing with your editor as needed).</li>
  </ul>
</li>
</ol>

<hr/>
<p><em>These final few steps take place after your puzzle is essentially finalized.</em></p>
<ul>
  <li>Learn how to postprod and do it!</li>
  <li>Write canned hints for your puzzle.</li>
  <li>Write a solution for your puzzle.</li>
</ul>
