{% extends "base.html" %}
{% load answer %}
{% load markdown %}

{% block title %}Rounds{% endblock %}

{% block bodyclass %}byround{% endblock %}

{% block main %}
{% if not single_round %}
<h1>All answers & puzzles, by round</h1>
<p>🚨 <strong>SPOILERS BELOW</strong></p>

{% if eic_view %}
<div class="tabs is-centered">
	<ul class="eic-selector">
		<li class="is-active eic-select" data-id="all"><a href="#">All</a></li>
		{% for eic in eics %}
			<li class="eic-select" data-id="{{ eic.id }}"><a href="#">{{ eic.display_name|default:"No EIC" }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endif %}

{% else %}
<div class="block">
	<a href="{% url "rounds" %}">Back to all rounds</a>
</div>
{% endif %}

<input id="show-answer-{{ random_id }}" type="checkbox" class="show-answer" {% if eic_view %}checked{% endif %}>
<label for="show-answer-{{ random_id }}">Show answers</label>
<p></p> {# add empty p for padding #}

{% for round in rounds %}
<div class="columns round-row {% if eic_view %}eic{{ round.editor.id }}{% endif %}">
	<div class="column is-2">
		{% if eic_view %}
		<h2>
			<a class="round-link" href="{% url "round" round.id %}">{{ round.name }}</a>
		</h2>
		<div class="tags are-medium">
			<span class="tag is-white is-outlined">🎩 {{ round.editor.display_name }}</span>
		</div>
		{{ round.description|markdown }}
		{% else %}
		<h2>
			{{ round.name }}
		</h2>
		{% endif %}

	</div>
	<div class="column">
		<div class="box">
			<table class="table is-narrow">
				<tr align="left">
					<th width="20%">Puzzle</th>
					<th width="20%">Answer</th>
					<th width="20%">Authors</th>
					<th width="20%">Staging link</th>
					{% if eic_view %}
					<th width="20%">Mechanics</th>
					{% endif %}
					<th width="20%">Status</th>
					<th width="20%">Deep</th>
				</tr>
				{% for answer in round.answers %}
					{% for puzzle in answer.puzzles %}
						<tr class="{{ puzzle.is_meta|yesno:"meta," }}">
							<td>
								<a href="{% url "puzzle" puzzle.id %}">{{ puzzle.name }}</a>
							</td>
							{% if forloop.first %}
							<td class="answer" rowspan="{{ answer.puzzles|length }}">
								{{ puzzle.is_meta|yesno:"Ⓜ️ ," }}<a href="{% url 'edit_answer' answer.id %}">{% formatted_answer answer %}</a>{% if answer.flexible %} (Flex){% endif %}
							</td>
							<td class="answer-hidden empty">(hidden)</td>
							{% endif %}
							<td class="authors">
								{% for author in puzzle.authors.all %}{{ author }}{{ forloop.last|yesno:",&#44; "|safe }}{% endfor %}
							</td>
							<td>
								{% if puzzle.postprod_url %}
									👉 <a href="{{ puzzle.postprod_url }}">Staging</a>
								{% else %}
									<span class="empty">--</span>
								{% endif %}
							</td>
							{% if eic_view %}
							<td class="mechanics">
								{% if puzzle.editor_notes %}{{ puzzle.editor_notes|markdown }}{% endif %}
							</td>
							{% endif %}
							<td>
								<span class="tag is-small">{{ puzzle.get_status_emoji }} {{ puzzle.get_status_display }}</span>
							</td>
							<td>
								<span class="is-small">{{ puzzle.deep }}</span>
							</td>
						</tr>
					{% empty %}
					<tr>
						<td class="empty">(none)</td>
						<td class="answer">
							<a href="{% url 'edit_answer' answer.id %}">{{ answer.answer }}</a>{% if answer.flexible %} (Flex){% endif %}
						</td>
						<td class="answer-hidden empty">(hidden)</td>
						<td colspan="6"></td>
					</tr>
					{% endfor %}
				{% endfor %}
			</table>
			{% if not eic_view and round.num_unspoiled %}
				<div class="empty">(+{{ round.num_unspoiled }} unspoiled)</div>
			{% endif %}
		</div>
	</div>
</div>
{% endfor %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
	$('.eic-select a').click(function(e) {
		e.preventDefault();
		var li = $(this).parent('li');
		var id = li.data('id');
		$('.round-row').hide();
		$('.eic-selector li').removeClass('is-active');
		$(li).addClass('is-active')
		if (id == "all") {
			$('.round-row').show();
		} else {
			$('.round-row.eic' + id).show();
		}
	});
});
</script>
{% endblock %}
