{% extends "base.html" %}

{% block title %}How To's{% endblock %}

{% block main %}
<h1>How To's</h1>
<div class="columns">
	<div class="column is-one-fifth">
		<a href="/process/getting-started">Getting Started</a><br>
		<a href="/process/writing">Writing</a><br>
		<a href="/process/testsolving">Testsolving</a><br>
		<a href="/process/solution">Solution and Hints</a><br>
	</div>
	<div class="column">
    {% if doc == "getting-started" %}
		<div id="getting-started" class="box">
			{% include "process/getting-started.html" %}
		</div>
    {% endif %}
    {% if doc == "writing" %}
		<div id="writing" class="box">
			{% include "process/writing.html" %}
		</div>
    {% endif %}
    {% if doc == "testsolving" %}
		<div id="testsolving" class="box">
			{% include "process/testsolving.html" %}
		</div>
    {% endif %}
	{% if doc == "solution" %}
		<div id="solution" class="box">
			{% include "process/solution.html" %}
		</div>
	{% endif %}
	</div>
	<div class="column is-2">
	</div>
</div>
{% endblock %}
