{% extends "base.html" %}
{% load humanize %}
{% load puzzle_list %}
{% load perm_tags %}
{% load markdown %}
{% load name_list %}
{% load tz %}
{% block title %}Users{% endblock %}

{% block main %}
<h1>Users</h1>
<p>👷 Lead&emsp;🟢 Active&emsp;🛑 Deferred&emsp;💀 Dead&emsp;🏁 Done</p>
<div class="box">
<div class="table-container">
<table class="table sortable user-table">
	<thead>
	<tr>
		<th colspan="2">
		<th colspan="5">Authored</th>
		<th colspan="4">Editing</th>
		<th colspan="2">Postprod</th>
		<th colspan="4">Factcheck</th>
		<th colspan="2">Testsolve</th>
		<th colspan="2">Last Action</th>
	</tr>
	<tr class="is-size-7">
		<th class="is-size-7">User</th>
		<th class="is-size-7">Role</th>

		<th class="left-border is-size-7">👷</th>
		<th class="is-size-7 deemph">🟢</th>
		<th class="is-size-7 deemph">🛑</th>
		<th class="is-size-7 deemph">💀</th>
		<th class="is-size-7 deemph">🏁</th>

		<th class="left-border is-size-7">🟢</th>
		<th class="is-size-7 deemph">🛑</th>
		<th class="is-size-7 deemph">💀</th>
		<th class="is-size-7 deemph">🏁</th>

		<th class="left-border is-size-7">🟢</th>
		<th class="is-size-7">🏁</th>

		<th class="left-border is-size-7">🟢</th>
		<th class="is-size-7 deemph">🛑</th>
		<th class="is-size-7 deemph">💀</th>
		<th class="is-size-7 deemph">🏁</th>

		<th class="left-border is-size-7">🟢</th>
		<th class="is-size-7">🏁</th>

		<th class="left-border is-size-7">Time</th>
		<th class="is-size-7">Comment</th>
	</tr>
	</thead>
	<tbody>
	{% for user in users %}
  {% if user.username != "admin" and user.username != "puzzup" %}
	<tr>
		<td><a href="{% url 'user' user.username %}">{{ user|display_name }}</a></td>
		<td>{{ user.hat }}</td>
		<td class="left-border">{{ user.authored_lead }}</td>
		<td class="deemph">{{ user.authored_active }}</td>
		<td class="deemph">{{ user.authored_deferred }}</td>
		<td class="deemph">{{ user.authored_dead }}</td>
		<td class="deemph">{{ user.authored_done }}</td>
		<td class="left-border">{{ user.editing_active }}</td>
		<td class="deemph">{{ user.editing_deferred }}</td>
		<td class="deemph">{{ user.editing_dead }}</td>
		<td class="deemph">{{ user.editing_done }}</td>
		<td class="left-border">{{ user.postprodding_active }}</td>
		<td class="deemph">{{ user.postprodding_done }}</td>
		<td class="left-border">{{ user.factchecking_active }}</td>
		<td class="deemph">{{ user.factchecking_deferred }}</td>
		<td class="deemph">{{ user.factchecking_dead }}</td>
		<td class="deemph">{{ user.factchecking_done }}</td>
		<td class="left-border">{{ user.testsolving_in_progress }}</td>
		<td>{{ user.testsolving_done }}</td>
		{% with user.last_comment.puzzle as puzzle %}
    <td class="left-border is-size-7 system" sorttable_customkey="{{ user.last_comment.date|date:"c" }}">
				{{ user.last_comment.date|naturaltime|default:"N/A" }}
			</td>
			<td class="is-size-7 system">
				{{ user.last_action }} <a href="{{ puzzle.puzzle_url }}#comment-{{ user.last_comment.id }}" class="puzzle-link">{{ puzzle.spoiler_free_name }}</a>
			</td>
		{% endwith %}
	</tr>
  {% endif %}
	{% endfor %}
	</tbody>
</table>
</div>
</div>

{% for user in users %}
{% if user.username != "admin" and user.username != "puzzup" %}
<div id="user-{{ user.username }}">
	<a href="{% url 'user' user.username %}">
		<h4>{{ user }}</h4>
	</a>
	<ul>
		<li>Username: {{ user.username }}</li>
		{% if user.discord_username %}
		<li>Discord: <code>@{{ user.discord_username }}</code> {% if user.discord_nickname %}(a.k.a. {{ user.discord_nickname }}){% endif %}
		</li>
		{% endif %}
		{% if user.bio %}
		<li>Bio:
			{{ user.bio|markdown }}
		</li>
		{% endif %}
	</ul>
</div>
{% endif %}
{% endfor %}
{% endblock %}
